<app-headercomponent></app-headercomponent>
<section class="flex flex-row justify-center items-center w-[100%] h-[100vh]">
    <div class="background-section">

    </div>
    <div class="flex flex-col justify-center items-center">
        <h2 class="text-[#003781] font-bold text-4xl text-center">
            Welcome to our car premium sales
        </h2>
        <button (click)="navigateToHome()" class="bg-[#003781] text-white rounded-md w-[100px] h-[50px] mt-4">
            Continue
        </button>
    </div>
</section>